*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header-banner{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position:bottom right, left  ;
}
nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    padding: 40px 0;
}
nav .nav-title{
    font-size: 45px;
    font-weight: 800;
}
.text-primary{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 50px;
}
.btn-primary{
    color: #FFFFFF;
    height: 61px;
    background: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    border: 0;
    padding: 18px 35px;
}

/* banner are starts here */
.banner{
    display: flex;
    align-items: center;
    margin: 0px 80px 0 200px;
}
.welcome{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.author-name{
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 20px;
}
.banner-descrip{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
}

/* main sectin */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about area styles here */
.about{
    background-color:#FFF8F3 ;
    margin-top: 130px;
    padding: 130px 150px;
    border-radius: 10px;   
    text-align: center;
}
.section-title{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}
.section-description{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}
.info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
    line-height: 30px;
}

/* what I do styles */
.what-i-do{
    margin-top: 130px;
}
.what-i-do h3{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}
.what-i-do > p{
    color: #757575;
    text-align: center;
    margin-bottom: 50px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

/* Resume section styles */
.resume > h3{
  margin-top: 110px;
  margin-bottom: 110px;
}
.resume-content{
    display: flex;
    gap: 24px;
}
.resume-heading{
    font-weight: 700;
    font-size: 30px;
}
.resume-title1{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin: 30px 0 10px 0;
}
.resume-title2{
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}
.description{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    margin-bottom: 30px;
}
.resume-btn{
    text-align: center;
    margin-top: 50px;
}